<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Carsales.com.au</title>

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lumen.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@(Url.Action("Index", "Home"))"> <span><img alt="logo" src="Image/logo.png" height="30"></span>Carsales</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="navbar-collapse">
                    <li><a class="active" href="@(Url.Action("Index", "Home"))" role="button">Home</a></li>
                    <li><a class="" href="@(Url.Action("List", "Cars"))" role="button">Cars</a></li>
                    <li><a class="" href="@(Url.Action("List", "Bikes"))" role="button">Bikes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />

    <div class="container body-content">
        
        <div class="container">
            @RenderBody()

        </div>
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Carsales.com.au</p>
        </footer>
    </div>
</body>
</html>